<h1>Profile</h1>

<h2>Information</h2>
<ul>
  <li>Email: <%= current_user.email %></li>
  <li>Date of Last Period: <%= current_user.date_of_last_period %></li>
  <li>Workouts Enjoyed: <%= current_user.workouts_enjoyed %></li>
</ul>

<h2>Workouts Completed</h2>
<table border="1">
  <tr>
    <th>
      Workout Type
    </th>

    <th>
      Workout Length
    </th>

    <th>
      Type of Workout
    </th>

    <th>
      Created At
    </th>

    <th>
      Updated At
    </th>

    <th></th>
  </tr>
</table>
