<h1>Profile</h1>

<h2>Information</h2>
<ul>
  <li>Email</li>
  <li>Date of Last Cycle</li>
  <li>Length of Cycle</li>
  <li>Workouts Enjoyed</li>
</ul>

<h2>Workouts Completed</h2>
<table border="1">
  <tr>
    <th>
      Workout Type
    </th>

    <th>
      Workout Length
    </th>

    <th>
      Type of Workout
    </th>

    <th>
      Created At
    </th>

    <th>
      Updated At
    </th>

    <th></th>
  </tr>
</table>
