<!DOCTYPE html>
<html>
  <head>
    <title>FLowFit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <ul>
      <li>
        <a href="/">
          Home
        </a>
      </li>

      <li>
        <a href="/profile">
          Profile
        </a>
      </li>

      <li>
        <a href="/workouts">
          Add a workout
        </a>
      </li>

      <li>
        <a href="/users/sign_out">
          Sign out
        </a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
